<a href="https://colab.research.google.com/github/gharinishankar/pyspark-learning/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("colab").getOrCreate()
df=spark.createDataFrame([(1,"harini"),(2,"shankar")],["id","name"])
df.show()

In [7]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("colab").getOrCreate()
df=spark.createDataFrame([(1,"harini"),(2,"shankar")],["id","name"])
df.show()

+---+-------+
| id|   name|
+---+-------+
|  1| harini|
|  2|shankar|
+---+-------+

In [12]:
df=spark.createDataFrame([(1,"harini",25),(2,"shankar",30),(3,"meena",22)],["id","name","age"])
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1| harini| 25|
|  2|shankar| 30|
|  3|  meena| 22|
+---+-------+---+

In [16]:
x=10
price=10.9
name="alice"
is_active=True

print(type(x))
print(type(price))
print(type(name))
print(type(is_active))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [17]:
scores = [78, 85, 92, 88]

print(scores[0])
print(len(scores))

78
4

In [18]:
person = {
    "name":"sreeleela",
    "age":22,
    "city":"london"
}
print(person["age"])

22

In [20]:
age=4
if age>=18:
  print("adult")
else:
  print("minor")

minor

In [23]:
from pyspark.sql.functions import when, col

df = df.withColumn(
    "status",
    when(col("age") >= 18, "Adult").otherwise("Minor")
)

df.show()

+---+-------+---+------+
| id|   name|age|status|
+---+-------+---+------+
|  1| harini| 25| Adult|
|  2|shankar| 30| Adult|
|  3|  meena| 22| Adult|
+---+-------+---+------+